.app {
	background-color: #ddd;
	height: 100vh;
	/* //? Center perfectly */
	display: grid;
	place-items: center;
}

.app__body {
	display: flex;
	background-color: #eee;
	height: 90vh;
	width: 90vw;
	box-shadow: 1px 4px 20px -6px rgba(0, 0, 0, 0.7);
	margin-top: -50px;
}
